<html lang="ko">
    <body>
        <a href="/download"> <--  다운로드 페이지로 </a>
        <h2> 파일 업로드 </h2>
        <form  method="post" action="api/v1/rest/aws/upload" enctype="multipart/form-data">
            <input name = "file" type="file" value="파일 선택"/><br/>
            <input type="submit" value="업로드"/><br/>
        </form>
        <span id="message"> </span>
    </body>
    <script>

        let params = new URLSearchParams(window.location.search);
        if (params.get("success") != null) {
            document.getElementById("message").innerHTML = "파일 업로드에 성공하였습니다.";
        }
    </script>
</html>